.imgBlock {
    float: right;
}

h3 {
    text-align: center;
}

h2 {
    text-align: center;
}

.Greentea {
    height: 42px;
	border: none;
	background: #3e9e49;
	color: #000000;
	padding: 10px;
	font-size: 18px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease;
    border-radius: 3px;
    float: left;
}

.Greentea:hover {
	background: rgba(0,0,0,0);
	color: #3e9e49;
	box-shadow: inset 0 0 0 4px #3e9e49;
    border-radius: 12px;
}

main {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

p {
    font: 35px;
}

body {
    margin-left: auto;
    margin-right: auto;
    margin: 0px;
    background: url(https://i.pinimg.com/originals/b8/96/8b/b8968b598c1e6e2c0cd0d27bb27f92c7.jpg);
    background-repeat: no-repeat;
}

header {
    width: 100%;
    height: 400px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}